<form method="post" action="{{ path('emergency_contact_delete', {'id': emergency_contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emergency_contact.id) }}">
    <button class="btn">Delete</button>
</form>
