{% extends 'base.html.twig' %}

{% block title %}Edit EmergencyContact{% endblock %}

{% block body %}
    <h1>Edit EmergencyContact</h1>

    {{ include('emergency_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('emergency_contact_index') }}">back to list</a>

    {{ include('emergency_contact/_delete_form.html.twig') }}
{% endblock %}
