{% extends 'base.html.twig' %}

{% block title %}New EmergencyContact{% endblock %}

{% block body %}
    <h1>Create new EmergencyContact</h1>

    {{ include('emergency_contact/_form.html.twig') }}

    <a href="{{ path('emergency_contact_index') }}">back to list</a>
{% endblock %}
