{% extends 'base.html.twig' %}

{% block title %}New Leave{% endblock %}

{% block body %}
    <h1>Leave Request Form</h1>

    {{ include('leave/_form.html.twig') }}

    <a href="{{ path('employee_show', {'empId': emp_id}) }}">Go back</a> 
{% endblock %}
