<form method="post" action="{{ path('emp_telephone_delete', {'telephone': emp_telephone.telephone}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emp_telephone.telephone) }}">
    <button class="btn">Delete</button>
</form>
