<form method="post" action="{{ path('job_title_delete', {'jobTitle': job_title.jobTitle}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_title.jobTitle) }}">
    <button class="btn">Delete</button>
</form>
