{% extends 'base.html.twig' %}

{% block title %}New JobTitle{% endblock %}

{% block body %}
    <h1>Create new JobTitle</h1>

    {{ include('job_title/_form.html.twig') }}

    <a href="{{ path('job_title_index') }}">back to list</a>
{% endblock %}
