<form method="post" action="{{ path('department_delete', {'deptId': department.deptId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.deptId) }}">
    <button class="btn">Delete</button>
</form>
