<form method="post" action="{{ path('employee_delete', {'empId': employee.empId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.empId) }}">
    <button class="btn">Delete</button>
</form>
