<form method="post" action="{{ path('emp_data_delete', {'attribute': emp_data.attribute,  'empId':emp_data.empId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emp_data.attribute) }}">
    <button class="btn">Delete</button>
</form>
