{% extends 'base.html.twig' %}

{% block title %}New Dependent{% endblock %}

{% block body %}
    <h1>Create new Dependent</h1>

    {{ include('dependent/_form.html.twig') }}

    <a href="{{ path('dependent_index') }}">back to list</a>
{% endblock %}
