<form method="post" action="{{ path('leave_limit_delete', {'leaveType': leave_limit.leaveType}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ leave_limit.leaveType) }}">
    <button class="btn">Delete</button>
</form>
