{% extends 'base.html.twig' %}

{% block title %}EmploymentStatus{% endblock %}

{% block body %}
    <h1>EmploymentStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employment_status.id }}</td>
            </tr>
            <tr>
                <th>EmpStatus</th>
                <td>{{ employment_status.empStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employment_status_index') }}">back to list</a>

    {{ include('employment_status/_delete_form.html.twig') }}
{% endblock %}
