{% extends 'base.html.twig' %}

{% block title %}PayGrade{% endblock %}

{% block body %}
    <h1>PayGrade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>PayGrade</th>
                <td>{{ pay_grade.payGrade }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pay_grade_index') }}">back to list</a>

    <!--a href="{{ path('pay_grade_edit', {'payGrade': pay_grade.payGrade}) }}">edit</a-->

    {{ include('pay_grade/_delete_form.html.twig') }}
{% endblock %}
